#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: ronaldcastillo
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDWRWWMQNcl8q4AAkjKul0pcpzRCu7aoc121vdV6hrGlENu2G5o90r2VU7tHjw/spjtD40fNKG45gK1xMrs3ACCjHdK0lsMCztsYM6QOOJMTwgBkHJ2+O+u0Kw8eo+eAFXdDt5Tr8Q6+RxNXsqbXRfMHxLpVVwlDaIYkgN9R5v39d9ugT1CV79OpcCpahSFZEmpFkL/XsnQCyp31W0jQAAg2Uq6caG6MzNhVqaLdLZvXUYVuq8zmzqCmFOHQHqHahKc2MSVtFUcG1i1kMgtiMt8n9Bf8gkC/AadGY86HId2B9WhLBHZSa54FAsNqTbPyw5mDGQv6lcezdfpp+ic6krEmoHT/zSE0pTY38MVZsgxFcRRQUL0YlSMSc4UBNSj7W/+zJnqKegLBZU3ygcSDQ13UfFbIdWMlVYi/P8bOkd6M6i1gGh8Ut7VsgYoMiB1dD9WXRFJkxpihcl7QYc0oZhdG5aY9LQDT84YdRLRx8t4FrZNHeA4BOnCgKZ5uQJLM6c= ronaldcastillo@server01
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
